Flask==2.0.1
Flask-Cors==3.0.10
Flask-Mail==0.9.1
gunicorn==20.1.0
h5py==3.1.0
Jinja2==3.0.1
Keras-Preprocessing==1.1.2
numpy==1.19.5
Pillow==8.2.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-cpu==2.5.0
tensorflow-estimator==2.5.0
Werkzeug==2.0.1
